---
import Layout from "../layouts/Layout.astro";
---

<Layout title="About">
    <!--Ich bin ein HTML-Kommentar -->
    {/* Ich bin eum Mehrzeiliger 
    JavaScript Kommentar */}
    <h1>About me</h1>
</Layout>